---
layout: default
---

<nav class="tab-navigation">
  {% for tab in site.data.navigation.tabs %}
    {% assign is_active = false %}
    
    {% comment %} Für die Startseite {% endcomment %}
    {% if tab.url == "/" %}
      {% if page.url == "/" or page.url == site.baseurl | append: "/" or page.url == site.baseurl | append: "/index.html" %}
        {% assign is_active = true %}
      {% endif %}
    {% else %}
      {% comment %} Für alle anderen Seiten {% endcomment %}
      {% assign tab_without_html = tab.url | remove: '.html' %}
      {% assign page_without_html = page.url | remove: '.html' %}
      {% if page_without_html contains tab_without_html %}
        {% assign is_active = true %}
      {% endif %}
    {% endif %}
    
    <a href="{{ site.baseurl }}{{ tab.url }}" {% if is_active %}class="active"{% endif %}>{{ tab.title }}</a>
  {% endfor %}
</nav>

<div class="two-column-container">
  {% assign content_parts = content | split: '<!--SPALTE2-->' %}
  <div class="column">
    {{ content_parts[0] }}
  </div>
  <div class="column">
    {{ content_parts[1] }}
  </div>
</div>